@import '~bootstrap/scss/bootstrap';

$black: #000;
$body-bg-color: $gray-200;
$font-color: $dark;

body {
  background-color: $body-bg-color;
}

.border {
  border: 3px solid $black;
  margin: 20px;
  padding: 20px;
}

.success-message {
  color: green;
}

.failure-message {
  color: red;
}


.row .box {
  align-items: center;
  border: 3px solid black;
  color: $font-color;
  display: grid;
  height: 100px;
  justify-content: center;
  width: 100px;
}
